

.PostSlider {
    width: 100%;
    height: 500px;
    border-radius: 32px;
    overflow: hidden;
}

.PostSlider__swiper-custom {
    height: 100%;
}

.PostSlider__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}